body {
    background-color:rgba(144, 222, 253, 0.623);
}

h1 {
    margin: 50px auto;
    width: max-content;
}

.info {
    border-radius: 15px;
    background-color: rgb(149, 223, 251);
    width: 550px;
    height: 350px;
    margin: 100px auto;
    top: cal(50%-height);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 6px 6px 30px black;
    #timer {
        h2{
            margin: auto;
        }
        width: 200px;
        height: 60px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing:2px;
        font-size: 32px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: 5px solid black;
        border-radius:10px;
        box-shadow: 4px 4px 10px black;
    }
    .fruits {
        width: 450px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        div {
            background: rgb(55, 147, 209);
            box-shadow: 2px 2px 5px black;
            border:2px solid rgb(141, 197, 248);
            border-radius:50px;
            width: 100px;
            height: 100px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                object-fit: cover;
                width:70%;
                height: 70%;
            }
        }
    }
}